@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: 
    local("Open Sans"),
    url("/fonts/OpenSans.woff2") format("woff2"),
    url("/fonts/OpenSans.woff") format("woff"),
    url("/fonts/OpenSans.ttf") format("truetype"),
    url("/fonts/OpenSans.otf") format("opentype"),
}