@import url("./root.css");

*,*::before,*::after{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  color: transparent;
}

html, body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
h1{
  font-size: 1.8em;
}
h2{
  font-size: 1.4em;
}
h3{
  font-size: 1.2em;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover,a:active{
  color: red
}
a:focus{
  color: green
}
a:target{
  color: blue
}
img{
  width: 100%;
  object-fit: cover;
}
/* WEB */
#app{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: .5fr 1fr .2fr;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #333;
  color: snow;
}
