@import url("./root.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  color: transparent;
}

html,
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
body {
  background: var(--color-primario);
  color: var(--color-secundario);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: .5rem 1rem;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.2em;
  background-color: var(--color-cuatro);
  flex: 1;
}
p{
  background-color: var(--color-primario);
  flex: 1;
  padding: 1rem;
  font-size: .9em;
}
ul {
  list-style: none;
  font-size: .8em;
}

a {
  text-decoration: none;
  padding: .5rem 1rem;
  font-size: 1em;
  font-weight: 600;
}

a:hover,
a:active {
  color: red
}

a:focus {
  color: green
}

a:target {
  color: blue
}

img {
  width: 100%;
  object-fit: cover;
}
span{
  padding: .5rem;
  color: var(--color-secundario);
  padding: .25rem;
}
/* APP */
#app {
  display: grid;
  grid-auto-flow: row;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  color: snow;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
