@media screen and (min-width: 1024px) {

  /* CABECERA PRINCIPAL */
  .cabecera__principal {

    background: url('../images/jpg/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }

  .cabecera__principal>.item:nth-child(1) {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
  }

  /* CONTENIDO PRINCIPAL */
  .contenido__principal {
    grid-template-columns: 1fr auto;
    padding: 1rem;
    gap: 1rem;
  }

  .contenido {
    grid-template-columns: 1fr auto;
  }

  /* footer.pie__contenido {
  background: var(--color-cinco-a); 
  } */

  /* PIE PRINCIPAL */
  /* footer.pie__principal {
    background: var(--color-secundario);
    padding: 1rem;
  }

  footer.pie__principal>address {
    background: var(--color-cuatro-a);
    color: tomato;
  } */
}