@media screen and (min-width: 768px) {

  /* INICIO */
  .cabecera__principal {
    display: grid;
    gap: .5rem;
    padding: 1rem;
    grid-template-rows: auto 1fr;
    background: url('../images/jpg/miniaturas/header768x415.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }



  /* CABECERA PRINCIPAL */
  .cabecera__principal>.item:nth-child(1) {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    justify-content: space-between;
  }

  /* Primer hijo de la cabecera */
  .cabecera__principal>.item:nth-child(2) {
    flex-direction: column;
    padding: 1rem;
  }

  /* CONTENIDO PRINCIPAL */
 

  .contenido {
    display: grid;
    padding: 1rem; 
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  }

  .contenido .articulos {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, 1fr);

  }

  footer.pie__contenido {
    grid-column: span 2;
  }

  img.imagen-articulo {
    max-height: 256px;
  }

  /* PIE PRINCIPAL */
  /* PIE PRINCIPAL */
  footer.pie__principal {
    padding: 1rem;
  }

  address>span {
    color: tomato;
  }

  i.icono__menu-bar {
    display: none;

  }

}