nav.menu {
  order: 2;
}

ul.lista {
  display: none;
}

li.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  transition: 300ms ease-in-out; 
}

i.menu-bar {
  display: inline-flex;
  padding: 1rem;
  cursor: pointer;
}

article.red-social {
  order: 2;
}
/* ANIMACIONES */
i.icono{
  transition: transform 300ms ease-in-out;
}
li.item:hover i.icono{
  transform: rotate(360deg) scale(1.2);
}
li.item:hover a.link{
  transform:  scale(.95);
}
@media screen and (min-width: 425px) {
  ul.lista {
    display: none;
  }

  i.menu-bar {
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) {
  ul.lista {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  nav.menu {
    order: -1;
  }

  i.menu-bar {
    display: none;
  }
}

@keyframes animMenu {
  0% {}

  100% {}
}