@media screen and (min-width: 768px) {

  /* INICIO */
  header.cabecera-principal {
    display: grid;
    gap: .5rem;
    padding: 1rem;
    grid-template-rows: auto 1fr;
    background: url('../images/jpg/miniaturas/header768x415.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }

  /* CABECERA PRINCIPAL */
  header.cabecera-principal>.item:nth-child(1) {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    justify-content: space-between;
  }

  /* Primer hijo de la cabecera */
  header.cabecera-principal>.item:nth-child(2) {
    flex-direction: column;
    padding: 1rem;
  }

  article.logo {
    order: -1;
  }

  i.icono__menu-bar {
    display: none;
  }

  span.descripcion {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  /* CONTENIDO PRINCIPAL */
  section.contenido-principal {
    gap: 1rem;
  }

  section.contenido {
    display: grid;
  }

  section.articulos {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, 1fr);
  }
  img.imagen-articulo{
    max-height: 256px;
  }
  footer.pie-contenido {
    grid-column: span 2;
  }

  /* BARRA DINAMICA */
  aside.barra-dinamica {
    align-items: start;
    padding: 1rem;
  }

  article.informacion-web {
    flex-direction: column;
    align-items: stretch;
  }

}