@media screen and (min-width: 1024px) {

  /* CABECERA PRINCIPAL */
  header.cabecera-principal {
    background: url('../images/jpg/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }

  header.cabecera-principal>.item:nth-child(1) {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
  }

  /* CONTENIDO PRINCIPAL */
  section.contenido-principal {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    gap: 1rem;
  }

  section.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    background: var(--color-uno);
    gap: 1rem;
    padding: 1rem;
  }

}