@import url("./root.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  color: transparent;
}

html,
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
body {
  background: var(--color-primario);
  color: var(--color-secundario);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: .5rem 1rem;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.2em;
  flex: 1;
}
p{
  background-color: var(--color-primario);
  flex: 1;
  padding: 1rem;
  font-size: .9em;
}
ul {
  list-style: none;
  font-size: .8em;
}

a {
  text-decoration: none;
  padding: .5rem 1rem;
  font-size: 1em;
  font-weight: 600;
}

a:hover,
a:active {
  color: red
}

a:focus {
  color: green
}

a:target {
  color: blue
}
a.link {
  text-decoration: none;
  padding: .5rem .5rem .5rem 0rem;
  font-size: 1em;
  font-weight: 600;
  color: gray;
  transition: 300ms ease-in-out;
}

a.link:hover,
a.link:active,
a.link:focus,
a.link:target {
  color: tomato;
  
}
a.link-mas{
  color: var(--color-uno);
  margin: 1rem 0;
}
@keyframes roll-over {
  0% { 
    border-bottom: 2px solid gray;
  }
  100% {
    color: darkred;
    font-size: 1.1rem;
  }
}
img{
  width: 100%;
  object-fit: cover;
}
span{
  padding: .5rem;
  color: var(--color-secundario);
  padding: .25rem;
}
/* APP */
main#app {
  display: grid;
  grid-auto-flow: row;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  color: snow;
  position: relative;
}

.item {
  display: flex;

}
section.articulos {
  display: grid;
  gap: 1rem;
}
article.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: -1rem;
  height: 250px;
  align-items: end;
  order: 1;
  position: relative;
  padding: 1rem;
}
span.descripcion {
  position: absolute;
  top: 60%;
  font-family: var(--font-family-titulos);
  font-size: 1.5rem; 
  color: var(--color-dos-a);
  text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
  text-align: center;
  letter-spacing: 1px;
 
}
article.articulo{
  background: var(--color-primario);
  padding:  0 0 1rem 0 ;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  border-radius: 5px;
  overflow: hidden;
}
h2.titulo-articulo{
  color: var(--color-dos);
}
img.imagen-articulo{
  max-height: 178px;
}
p{
  color: var(--color-uno);
  font-size: .8rem;
}
a.link-mas,h2.titulo-articulo, p {
  padding: 0 1rem;
}
span.descripcion{
  display: flex;
}

@media screen and (min-width: 425px) {
  span.descripcion {
    font-size: 1.5rem; 
    letter-spacing: 1.2px;
  }
}