ul.list__menu {
  display: none;
}
.menu{
  order: 2;
}
li.item{
  display: flex;
  align-items: center;
  gap: 1rem;
}
i.icono__menu-bar{
  display: inline-flex;
  padding: 1rem;
}
article.red-social {
  order: 1;
}
@media screen and (min-width: 425px) {
  ul.lista{
    display: none;
  }
}
@media screen and (min-width: 768px) {
  ul.lista{
    display: inline-flex;
  }
  .menu{
    order: -1;
  }
  i.icono__menu-bar{
    display: none;
  }
}


