/* INICIO */

:is(img.svg__ico, img.png__logo) {
  max-width: 64px;
  max-width: 64px;
}

i.icono {
  max-width: 16px;
  max-width: 16px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header.cabecera-principal {
  display: grid;
  grid-auto-flow: row;
  gap: .5rem;
}

/* CABECERA PRINCIPAL */
header.cabecera-principal>.item:nth-child(1) {
  display: grid;
  grid-auto-flow: column;
  justify-content: stretch;
  gap: 1rem;
  z-index: 11;
}

/* Primer hijo de la cabecera */
header.cabecera-principal>.item:nth-child(2) {
  flex-direction: column;
  padding: .25rem 0;
}

img.png__logo {
  max-width: 64px;
  max-width: 64px;
}

article.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: -1rem;
}

/* Segundo hijo de la cabecera */

nav.menu,
article.red-social,
article.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: -1rem;
}

/* BAnner */
article.banner {
  color: #333;
  position: relative;
  bottom: 25px;
  height: 250px;
  align-items: end;
  order: 1;
}

div.contenedor-imagen__banner {
  position: absolute;
  z-index: 10;
  overflow: hidden;
}

img.jpg__header {
  max-width: 375px;
  z-index: 0;
}

span.descripcion {
  font-size: 1.1em;
  padding: 0 1rem 1rem 1rem;
  padding-bottom: 0 1rem;
}

/* CONTENIDO PRINCIPAL */
section.contenido-principal {
  display: grid;
  grid-auto-flow: row;
  padding: 1rem;
  gap: 1rem;
}

section.contenido {
  display: grid;
  grid-auto-flow: row;
}

section.contenido>.item {
  grid-column: span 2;
}

footer.pie-contenido {
  grid-column: span 2;
  text-align: center;
}

/* BARRA DINAMICA */
aside.barra-dinamica {
  align-items: start;
  padding: 1rem;
}

article.informacion-web {
  color: var(--color-secundario);
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

/* PIE PRINCIPAL */
footer.pie-principal {
  padding: 1rem;
  place-content: center;
  background: var(--color-uno-a);
}



@media screen and (max-width: 768px) {
  header.cabecera-principal {
    background: url('../images/jpg/miniaturas/header375x250.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }
}