@media screen and (max-device-width: 425px) and (max-device-height: 715px) and (orientation:portrait){
  ul.list__menu {
    display: none;
  }
  i.icono__menu-bar{
    display: inline-flex;
    background-color: red;
    padding: 1rem;
  }
}
@media screen and (min-width: 425px) and (max-device-height: 1080px){
  ul.list__menu{
    display: flex;
  }
  
}
/* @media screen and (max-width: 768px) and (max-device-height: 1080px){
  ul.list__menu{
    display: flex;
    background-color: red;
  }
} */
