ul.list__menu {
  display: none;
}
i.icono__menu-bar{
  display: inline-flex;
  padding: 1rem;
}
.menu{
  order: 2;
}
article.red-social {
  order: 1;
}
@media screen and (min-width: 425px) {
  ul.list__menu{
    display: none;
  }
  i.icono__menu-bar{
    display: inline-flex;
  }
 
}
@media screen and (min-width: 768px) {
  ul.list__menu{
    display: inline-flex;
  }
  i.icono__menu-bar{
    display: none;
  }
  .logo{
    order: -1;
  }
  .menu{
    order: -1;
  }
}


