/* INICIO */
@import url("./menu.css");

:is(img.svg__ico, img.png__logo) {
  max-width: 64px;
  max-width: 64px;
}

i.icono {
  max-width: 16px;
  max-width: 16px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cabecera__principal {
  display: grid;
  grid-auto-flow: row;
  gap: .5rem;
  background: rgb(244, 242, 242);
}

.pie__principal {
  background: var(--color-secundario);
}

/* CABECERA PRINCIPAL */
.cabecera__principal>.item:nth-child(1) {
  display: grid;
  grid-auto-flow: row;
  justify-content: stretch;
  gap: 1rem;
}

/* Primer hijo de la cabecera */
.cabecera__principal>.item:nth-child(2) {
  flex-direction: column;
  padding: 1rem;
}

/* TODDO: SEGUIR POR AQUI CON LA IMAGEN DEL BANNER */
/* Segundo hijo de la cabecera */
.logo,
.menu,
.red-social,
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: -1rem;
  z-index: 10;
  position: relative;
}

span.descripcion__banner {
  position: absolute;
  transform: translate(0, 100%);
 
  font-size: 1.4rem;
  text-align: center;
}

img.jpg__header {
  max-width: 375px;
  z-index: 0;
}

/* BAnner */
.banner {
  color: #333;
}

.descripcion__banner {
  font-size: 2rem;
  z-index: 1;
}

/* CONTENIDO PRINCIPAL */
.contenido__principal {
  display: grid;
  grid-auto-flow: row;
  padding: 1rem;
  gap: 1rem;
}
.contenido {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  background: var(--color-uno);
  gap: 1rem;
  padding: 1rem;
}
.contenido>.item {
  background: var(--color-cinco);
  grid-column: span 2;
}

.contenido .pie__contenido {
  background: var(--color-cinco-a);
  grid-column: span 2;
}

/* BARRA DINAMICA */
.barra__dinamica {
  background: var(--color-dos-a);
  align-items: start;

  padding: 1rem;
}

.barra__dinamica .informacion__web {
  color: var(--color-secundario);
  flex-direction: column;
  align-items: stretch;
}

/* PIE PRINCIPAL */
.pie__principal {
  background: var(--color-secundario);
  padding: 1rem;
}

.pie__principal address {
  background: var(--color-cuatro-a);
}